In [1]:
import pandas as pd

In [2]:
appt_df = pd.read_csv("appointments.csv")

In [3]:
px_df = pd.read_csv("px.csv")

C:\Users\orrin\AppData\Local\Temp\ipykernel_19896\762346502.py:1: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  px_df = pd.read_csv("px.csv")

In [4]:
clinics_df = pd.read_csv("clinics1.csv")

In [5]:
doctors_df = pd.read_csv("doctors1.csv")

In [6]:
px_df

                                     pxid   age  gender
0        5A1718EC380AFE6BE24D63EE78CDA043   NaN  FEMALE
1        C0FC9D6384C7F579F1048A461C298B8C   8.0  FEMALE
2        FB0C4098E2F7FD0BC3865382242E7034   2.0  FEMALE
3        EB3C1CBD5A2AC52C69BE0B90C5E149A7  54.0    MALE
4        92C92C2EB4B51FBB3CD354165BA5F027  67.0  FEMALE
...                                   ...   ...     ...
6507808  9D8045364678C651016538B78784720E    56    MALE
6507809  BCC86927CB7F687624859D5B7C9AB8B6    60    MALE
6507810  2890460EE1FD505905A0A55834EBDC06    17  FEMALE
6507811  3989D63FA4DD7C54911AA085CB7CF38A    62    MALE
6507812  80E396F35668298FED90AD2278A6D28D    46  FEMALE

[6507813 rows x 3 columns]

In [7]:
clinics_df

,clinicid,hospitalname,IsHospital,City,Province,RegionName
0,77EE3BC58CE560B86C2B59363281E914,St. Luke's Medical Center-Global City,True,Taguig,Manila,National Capital Region (NCR)
1,98C39996BF1543E974747A2549B3107C,Our Lady of Lourdes Hospital,True,Manila,Manila,National Capital Region (NCR)
2,9AEADE7BEADA35C83D3B344FBAFE43B0,Makati Medical Center,True,Makati,Manila,National Capital Region (NCR)
3,FDBD31F2027F20378B1A80125FC862DB,Cardinal Santos Medical Center,True,San Juan,Manila,National Capital Region (NCR)
4,205C3608ECB984C1F5F5D2F52C934428,NaN,False,Burgos,Ilocos Sur,Ilocos Region (I)
...,...,...,...,...,...,...
53957,8DE279A56DBCECE9F9FFC514A7D5A378,NaN,False,Manila,Manila,National Capital Region (NCR)
53958,55A64961C9AA4134016786AE7202682E,NaN,False,Manila,Manila,National Capital Region (NCR)
53959,075E464A7D15E6E5B9D8F8F5B5B16BB9,NaN,False,Manila,Manila,National Capital Region (NCR)
53960,01063BCF7624297FBB408495BCB62904,Malabon Hospital and Medical Center,True,Malabon,Manila,National Capital Region (NCR)
53961,5DA48026B54B6EEB6062817CAA7C30EA,NaN,False,Malabon,Manila,National Capital Region (NCR)

In [8]:
doctors_df

                               doctorid         mainspecialty   age
0      AD61AB143223EFBC24C7D2583BE69251      General Medicine  41.0
1      D09BF41544A3365A46C9077EBB5E35C3       Family Medicine  43.0
2      FBD7939D674997CDB4692D34DE8633C4     Vascular Medicine  26.0
3      28DD2C7955CE926456240B2FF0100BDE     Otolaryngologists  34.0
4      35F4A8D465E6E1EDC05F3D8AB658C551     General Dentistry  50.0
...                                 ...                   ...   ...
60019  CD532DBEF6547A66D2138FAB49AA3B94  General Practitioner  33.0
60020  4473D870B5E31FAA40D2C45E1FF6DC27                   NaN   NaN
60021  A4F554EB2C0934E7FDE2511E8C1573BA                   NaN   NaN
60022  E540A361D93D37A33BB2F55D43DA79D9  General Practitioner   NaN
60023  23BA85862DD19C3550E7C0F0AF84C7ED     Internal Medicine  38.0

[60024 rows x 3 columns]

In [9]:
#check if all pxid are unique
px_df['pxid'].is_unique

False

In [10]:
# drop all non unique pxid
px_df = px_df.drop_duplicates(subset=['pxid'])
print(px_df['pxid'].is_unique)

True

In [11]:
#drop px where pxid len != 32
px_df = px_df[px_df['pxid'].str.len() == 32]

In [12]:
#drop all null age px
px_df = px_df.dropna(subset=['age'])

In [13]:
# change all px age to numeric values
px_df.loc[:, 'age'] = pd.to_numeric(px_df['age'], errors='coerce')

In [14]:
# drop all px where age > 130
px_df = px_df[px_df['age'] <= 130]

In [15]:
# change px age to int
px_df['age'] = px_df['age'].astype(int)
px_df['age'].dtype

dtype('int32')

In [16]:
px_df.isna().sum()

pxid      0
age       0
gender    0
dtype: int64

In [17]:
# check if appt_df has any pxid that is not in px_df
appt_df[~appt_df['pxid'].isin(px_df['pxid'])]

,pxid,clinicid,doctorid,apptid,status,TimeQueued,QueueDate,StartTime,EndTime,type,Virtual
0,EF196B348A49FB32DABC9834DC4FAAD9,ADF7EE2DCF142B0E11888E72B43FCB75,BB04AF0F7ECAEE4AAE62035497DA1387,C1CC0949B93D00A559F7A0BD38361E80,Complete,2018-04-11 01:59:58,2018-04-10 16:00:00,NaN,NaN,Consultation,NaN
1,EAE3C87D0B33351272F2E9B9B1B56217,1E0F65EB20ACBFB27EE05DDC000B50EC,82AA4B0AF34C2313A562076992E50AA3,6585A31C60A1886FBA1433C50012B504,Queued,2018-04-10 10:34:16,2018-04-08 16:00:00,2018-04-09 10:33:00,2018-04-12 05:29:57,Inpatient,NaN
2,7C5C93809D626CC702D08F33985B2B58,1E0F65EB20ACBFB27EE05DDC000B50EC,82AA4B0AF34C2313A562076992E50AA3,7250DCFF615E6580295C7E6ED4322371,Queued,2018-04-03 15:26:19,2018-03-30 16:00:00,2018-03-31 15:25:00,2018-04-05 15:51:47,Inpatient,NaN
3,C300C2B9E0E5D4C46E8093BCDBFA05CA,98C39996BF1543E974747A2549B3107C,AD61AB143223EFBC24C7D2583BE69251,F5BBDCC08E39332F0AC27BB95CF1396A,Queued,2015-11-24 08:01:13.920000000,NaN,NaN,NaN,Consultation,NaN
4,B3DBE7F9E4DC33CBC5660E0A923CF8E8,77EE3BC58CE560B86C2B59363281E914,AD61AB143223EFBC24C7D2583BE69251,55783FB42A02DABC3B2ED239B924DC87,Queued,2015-11-24 08:01:00.420000000,NaN,NaN,NaN,Consultation,NaN
...,...,...,...,...,...,...,...,...,...,...,...
9752927,2583E761CF4CAB4813AAEAFDAA883CC6,CCFC2D538DDFF519D893A6B966A1C4F1,B706835DE79A2B4E80506F582AF3676A,215A26E2E5B831D87C41A5C1CC382B1C,Queued,2023-11-20 00:34:25.337000000,2023-11-22 16:00:00,NaN,NaN,Consultation,False
9752928,F51E6BF96EA5028AE5F5C01EBF08E3BD,CCFC2D538DDFF519D893A6B966A1C4F1,B706835DE79A2B4E80506F582AF3676A,E9EB60E3DA311FAE308A2DB53B6CCBAC,Queued,2023-12-05 07:51:25.443000000,2023-12-04 16:00:00,NaN,NaN,Consultation,False
9752929,84E3EB4A060096C3702D33F5A52E8B43,CCFC2D538DDFF519D893A6B966A1C4F1,B706835DE79A2B4E80506F582AF3676A,EFE2DDFD855E2B4E1C67956CE1CE8A6E,Queued,2024-01-04 06:11:06.437000000,2024-01-03 16:00:00,2024-01-04 08:00:00,2024-01-04 08:15:00,Consultation,False
9752930,2B9F701BED6F68800637ADB7EF4CACE2,CCFC2D538DDFF519D893A6B966A1C4F1,B706835DE79A2B4E80506F582AF3676A,434410208F17F50143E1CE66E4CEF23F,Queued,2024-01-13 06:12:54.737000000,2024-01-12 16:00:00,2024-01-13 08:00:00,2024-01-13 08:15:00,Consultation,False
9752931,2ED01D09EF929AE3CA7564A2CB09DC2C,40F4775D64533EE66E3E20AE64228661,B706835DE79A2B4E80506F582AF3676A,62D462EFFD157E70C4301E555962D44B,Queued,2024-01-04 00:45:05.063000000,2024-01-03 16:00:00,2024-01-04 02:30:00,2024-01-04 02:45:00,Consultation,False

In [18]:
# drop all rows in appt_df where pxid is not in px_df
print(appt_df.shape)
appt_df = appt_df[appt_df['pxid'].isin(px_df['pxid'])]
print(appt_df.shape)

(9752932, 11)
(320137, 11)

In [19]:
# check if all clinicid are unique
clinics_df['clinicid'].is_unique

True

In [20]:
# check if all doctorid are unique
doctors_df['doctorid'].is_unique

True

In [21]:
# check if all appt_id are unique
appt_df['apptid'].is_unique

True

In [22]:
# check if appt_df has any doctorid that is not in doctors_df
appt_df[~appt_df['doctorid'].isin(doctors_df['doctorid'])]

Empty DataFrame
Columns: [pxid, clinicid, doctorid, apptid, status, TimeQueued, QueueDate, StartTime, EndTime, type, Virtual]
Index: []

In [23]:
# check if appt_df has any clinicid that is not in clinics_df
appt_df[~appt_df['clinicid'].isin(clinics_df['clinicid'])]

Empty DataFrame
Columns: [pxid, clinicid, doctorid, apptid, status, TimeQueued, QueueDate, StartTime, EndTime, type, Virtual]
Index: []

In [24]:
appt_df.shape

(320137, 11)

In [25]:
appt_df.isna().sum()

pxid               0
clinicid           0
doctorid           0
apptid             0
status             0
TimeQueued         0
QueueDate          0
StartTime     116529
EndTime       259985
type               0
Virtual       190134
dtype: int64

In [26]:
# set virtual for all inpatient appts to false
appt_df.loc[appt_df['type'] == 'Inpatient', 'Virtual'] = False

In [27]:
#drop all rows with virtual as na
appt_df = appt_df.dropna(subset=['Virtual'])
appt_df.shape

(130212, 11)

In [28]:
#check all mainspecialty values
print(doctors_df['mainspecialty'].value_counts())

mainspecialty
Internal Medicine                           3812
General Medicine                            2317
Pediatrics                                  1709
Family Medicine                              894
General Physician                            881
                                            ...
oral and maxillofacial surgery                 1
General Physician (Pediatrics and Adult)       1
Marc                                           1
Orthopaedics (Bone and Joint Surgery)          1
Allergist                                      1
Name: count, Length: 3972, dtype: int64

In [29]:
#normalize all mainspecialty values
doctors_df['mainspecialty'] = doctors_df['mainspecialty'].str.lower()

In [30]:
#fill all nan mainspecialty with general medicine
doctors_df['mainspecialty'] = doctors_df['mainspecialty'].fillna('general medicine')

In [31]:
#remove all rows with test in mainspecialty
doctors_df = doctors_df[~doctors_df['mainspecialty'].str.contains('test')]
print(doctors_df['mainspecialty'].value_counts())

mainspecialty
general medicine                                       35415
internal medicine                                       4346
pediatrics                                              1781
family medicine                                         1072
general physician                                        937
                                                       ...
intensive care medicine                                    1
general surgery pediatric surgery                          1
child & adult allergy, asthma & clinical immunology        1
dermatolgoy                                                1
allergist                                                  1
Name: count, Length: 3427, dtype: int64

In [32]:
#drop all rows where mainspecialty has less than 3 letters but is not == ER
print(doctors_df.shape)
doctors_df = doctors_df[~((doctors_df['mainspecialty'].str.len() < 3) & (doctors_df['mainspecialty'] != 'ER'))]
print(doctors_df.shape)

(59980, 3)
(59364, 3)

In [33]:
# if doctor main specialty is fellow of philippine academy of family physicians then change it to family medicine
doctors_df.loc[doctors_df['mainspecialty'] == 'fellow of philippine academy of family physicians', 'mainspecialty'] = 'family medicine'

In [34]:
# find and change all emails in doctorsdf mainspecialty to general medicine
doctors_df.loc[doctors_df['mainspecialty'].str.contains('@'), 'mainspecialty'] = 'general medicine'

In [35]:
# drop doctors with mainspecialty being me
doctors_df = doctors_df[doctors_df['mainspecialty'] != 'being me']

# drop doctors with mainspecialty containing university
doctors_df = doctors_df[~doctors_df['mainspecialty'].str.contains('university')]

# drop trisha reyes
doctors_df = doctors_df[doctors_df['mainspecialty'] != 'trisha reyes']

#drop dr. anna mitzi matela
doctors_df = doctors_df[doctors_df['mainspecialty'] != 'dr. anna mitzi matela']

#drop valerie ann valdez
doctors_df = doctors_df[doctors_df['mainspecialty'] != 'valerie ann valdez']
doctors_df = doctors_df[doctors_df['mainspecialty'] != 'gonzales']
doctors_df = doctors_df[doctors_df['mainspecialty'] != 'med-student']
doctors_df = doctors_df[doctors_df['mainspecialty'] != 'small animal']
doctors_df = doctors_df[doctors_df['mainspecialty'] != 'major in accountancy']
doctors_df = doctors_df[doctors_df['mainspecialty'] != 'patient']
doctors_df = doctors_df[doctors_df['mainspecialty'] != 'ginecÃ³loga obstetra']
doctors_df = doctors_df[doctors_df['mainspecialty'] != 'xxx']
doctors_df = doctors_df[doctors_df['mainspecialty'] != 'tcvs']
doctors_df = doctors_df[doctors_df['mainspecialty'] != 'user']

# doctors with mainspecialty as n/a or none change to general medicine
doctors_df.loc[doctors_df['mainspecialty'].str.contains('n/a|none|not sure|non|wala', case=False), 'mainspecialty'] = 'general medicine'

#change all mainspecialty pedia to pediatrics
doctors_df.loc[doctors_df['mainspecialty'] == 'pedia', 'mainspecialty'] = 'pediatrics'
doctors_df.loc[doctors_df['mainspecialty'] == 'family', 'mainspecialty'] = 'family medicine'
doctors_df.loc[doctors_df['mainspecialty'] == 'nephro', 'mainspecialty'] = 'nephrology'
doctors_df.loc[doctors_df['mainspecialty'] == 'general', 'mainspecialty'] = 'general medicine'

In [36]:
#drop all rows in appt_df where doctorid is not in doctors_df
print(appt_df.shape)
appt_df = appt_df[appt_df['doctorid'].isin(doctors_df['doctorid'])]
print(appt_df.shape)

(130212, 11)
(130212, 11)

In [37]:
#adjust all NAN ages to -1
doctors_df['age'] = doctors_df['age'].fillna(-1)

In [38]:
#adjust all invalid ages to -1
doctors_df.loc[doctors_df['age'] < 0, 'age'] = -1

In [39]:
# make age int
doctors_df['age'] = doctors_df['age'].astype(int)

In [40]:
print(px_df.info())
print(appt_df.info())
print(clinics_df.info())
print(doctors_df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 5502364 entries, 1 to 6507812
Data columns (total 3 columns):
 #   Column  Dtype
---  ------  -----
 0   pxid    object
 1   age     int32
 2   gender  object
dtypes: int32(1), object(2)
memory usage: 146.9+ MB
None
<class 'pandas.core.frame.DataFrame'>
Index: 130212 entries, 76098 to 9602502
Data columns (total 11 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   pxid        130212 non-null  object
 1   clinicid    130212 non-null  object
 2   doctorid    130212 non-null  object
 3   apptid      130212 non-null  object
 4   status      130212 non-null  object
 5   TimeQueued  130212 non-null  object
 6   QueueDate   130212 non-null  object
 7   StartTime   53533 non-null   object
 8   EndTime     53468 non-null   object
 9   type        130212 non-null  object
 10  Virtual     130212 non-null  object
dtypes: object(11)
memory usage: 11.9+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53962 entries, 0 to 53961
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   clinicid      53962 non-null  object
 1   hospitalname  17538 non-null  object
 2   IsHospital    53962 non-null  bool
 3   City          53962 non-null  object
 4   Province      53962 non-null  object
 5   RegionName    53962 non-null  object
dtypes: bool(1), object(5)
memory usage: 2.1+ MB
None
<class 'pandas.core.frame.DataFrame'>
Index: 59276 entries, 0 to 60023
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   doctorid       59276 non-null  object
 1   mainspecialty  59276 non-null  object
 2   age            59276 non-null  int32
dtypes: int32(1), object(2)
memory usage: 1.6+ MB
None

In [41]:
#change all date columns to datetime
appt_df['TimeQueued'] = pd.to_datetime(appt_df['TimeQueued'], format='mixed')
appt_df['QueueDate'] = pd.to_datetime(appt_df['QueueDate'], format='mixed')
appt_df['StartTime'] = pd.to_datetime(appt_df['StartTime'], format='mixed')
appt_df['EndTime'] = pd.to_datetime(appt_df['EndTime'], format='mixed')

In [42]:
#remove all newlines in doctors_df mainspecialty
doctors_df['mainspecialty'] = doctors_df['mainspecialty'].str.replace('\n', '')

In [43]:
#replace all true IsHospital to 1 and false to 0 in clinics_df
clinics_df['IsHospital'] = clinics_df['IsHospital'].replace({True: 1, False: 0})

In [44]:
#replace all true Virtual to 1 and false to 0 in appt_df
appt_df['Virtual'] = appt_df['Virtual'].replace({True: 1, False: 0})
appt_df['Virtual'].value_counts()

Virtual
0    124365
1      5847
Name: count, dtype: int64

In [45]:
# remove all px not in appt_df
px_df_2 = px_df[px_df['pxid'].isin(appt_df['pxid'])]

# add 200000 records to px_df_2 that is in px but not in appt_df
px_df_2 = pd.concat([px_df_2, px_df[~px_df['pxid'].isin(appt_df['pxid'])].head(200000)])

px_df_2.shape

(229240, 3)

In [46]:
px_df_2.isna().sum()

pxid      0
age       0
gender    0
dtype: int64

In [47]:
#print the shape of all dataframes
print(px_df_2.shape)
print(appt_df.shape)
print(clinics_df.shape)
print(doctors_df.shape)

(229240, 3)
(130212, 11)
(53962, 6)
(59276, 3)

In [48]:
#rename col virtual in appt_df to isvirtual
appt_df = appt_df.rename(columns={'Virtual': 'IsVirtual'})

appt_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 130212 entries, 76098 to 9602502
Data columns (total 11 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   pxid        130212 non-null  object
 1   clinicid    130212 non-null  object
 2   doctorid    130212 non-null  object
 3   apptid      130212 non-null  object
 4   status      130212 non-null  object
 5   TimeQueued  130212 non-null  datetime64[ns]
 6   QueueDate   130212 non-null  datetime64[ns]
 7   StartTime   53533 non-null   datetime64[ns]
 8   EndTime     53468 non-null   datetime64[ns]
 9   type        130212 non-null  object
 10  IsVirtual   130212 non-null  int64
dtypes: datetime64[ns](4), int64(1), object(6)
memory usage: 11.9+ MB

In [51]:
#check all values of status in appt
appt_df['status'].value_counts()

status
Complete    82745
Queued      43287
Cancel       1481
Serving      1317
NoShow       1000
Skip          382
Name: count, dtype: int64

In [49]:
#output all dataframes to csv
px_df_2.to_csv('px_cleaned.csv', index=False)
appt_df.to_csv('appt_cleaned.csv', index=False)
doctors_df.to_csv('doctors_cleaned.csv', index=False)
clinics_df.to_csv('clinics_cleaned.csv', index=False)