In [1]:
import pandas as pd

In [2]:
appt_df = pd.read_csv("appointments.csv")

In [3]:
px_df = pd.read_csv("px.csv")

C:\Users\orrin\AppData\Local\Temp\ipykernel_21132\762346502.py:1: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  px_df = pd.read_csv("px.csv")

In [4]:
clinics_df = pd.read_csv("clinics1.csv")

In [5]:
doctors_df = pd.read_csv("doctors1.csv")

In [6]:
px_df

                                     pxid   age  gender
0        5A1718EC380AFE6BE24D63EE78CDA043   NaN  FEMALE
1        C0FC9D6384C7F579F1048A461C298B8C   8.0  FEMALE
2        FB0C4098E2F7FD0BC3865382242E7034   2.0  FEMALE
3        EB3C1CBD5A2AC52C69BE0B90C5E149A7  54.0    MALE
4        92C92C2EB4B51FBB3CD354165BA5F027  67.0  FEMALE
...                                   ...   ...     ...
6507808  9D8045364678C651016538B78784720E    56    MALE
6507809  BCC86927CB7F687624859D5B7C9AB8B6    60    MALE
6507810  2890460EE1FD505905A0A55834EBDC06    17  FEMALE
6507811  3989D63FA4DD7C54911AA085CB7CF38A    62    MALE
6507812  80E396F35668298FED90AD2278A6D28D    46  FEMALE

[6507813 rows x 3 columns]

In [7]:
clinics_df

,clinicid,hospitalname,IsHospital,City,Province,RegionName
0,77EE3BC58CE560B86C2B59363281E914,St. Luke's Medical Center-Global City,True,Taguig,Manila,National Capital Region (NCR)
1,98C39996BF1543E974747A2549B3107C,Our Lady of Lourdes Hospital,True,Manila,Manila,National Capital Region (NCR)
2,9AEADE7BEADA35C83D3B344FBAFE43B0,Makati Medical Center,True,Makati,Manila,National Capital Region (NCR)
3,FDBD31F2027F20378B1A80125FC862DB,Cardinal Santos Medical Center,True,San Juan,Manila,National Capital Region (NCR)
4,205C3608ECB984C1F5F5D2F52C934428,NaN,False,Burgos,Ilocos Sur,Ilocos Region (I)
...,...,...,...,...,...,...
53957,8DE279A56DBCECE9F9FFC514A7D5A378,NaN,False,Manila,Manila,National Capital Region (NCR)
53958,55A64961C9AA4134016786AE7202682E,NaN,False,Manila,Manila,National Capital Region (NCR)
53959,075E464A7D15E6E5B9D8F8F5B5B16BB9,NaN,False,Manila,Manila,National Capital Region (NCR)
53960,01063BCF7624297FBB408495BCB62904,Malabon Hospital and Medical Center,True,Malabon,Manila,National Capital Region (NCR)
53961,5DA48026B54B6EEB6062817CAA7C30EA,NaN,False,Malabon,Manila,National Capital Region (NCR)

In [8]:
doctors_df

                               doctorid         mainspecialty   age
0      AD61AB143223EFBC24C7D2583BE69251      General Medicine  41.0
1      D09BF41544A3365A46C9077EBB5E35C3       Family Medicine  43.0
2      FBD7939D674997CDB4692D34DE8633C4     Vascular Medicine  26.0
3      28DD2C7955CE926456240B2FF0100BDE     Otolaryngologists  34.0
4      35F4A8D465E6E1EDC05F3D8AB658C551     General Dentistry  50.0
...                                 ...                   ...   ...
60019  CD532DBEF6547A66D2138FAB49AA3B94  General Practitioner  33.0
60020  4473D870B5E31FAA40D2C45E1FF6DC27                   NaN   NaN
60021  A4F554EB2C0934E7FDE2511E8C1573BA                   NaN   NaN
60022  E540A361D93D37A33BB2F55D43DA79D9  General Practitioner   NaN
60023  23BA85862DD19C3550E7C0F0AF84C7ED     Internal Medicine  38.0

[60024 rows x 3 columns]

In [9]:
# drop all px with null age
print(px_df.shape)
px_df = px_df.dropna(subset=['age'])
print(px_df.shape)

(6507813, 3)

(6495591, 3)

In [10]:
#check if all pxid are unique
px_df['pxid'].is_unique

False

In [11]:
# drop all non unique pxid
px_df = px_df.drop_duplicates(subset=['pxid'])
print(px_df['pxid'].is_unique)

True

In [12]:
# check if age has non numeric values
px_df['age'] = pd.to_numeric(px_df['age'], errors='coerce')

In [13]:
# drop all non numeric age
print(px_df.shape)
px_df = px_df.dropna(subset=['age'])
print(px_df.shape)

(5502484, 3)
(5502483, 3)

In [14]:
# change age to int
px_df['age'] = px_df['age'].astype(int)
print(px_df['age'].dtype)

int32

In [15]:
# check if appt_df has any pxid that is not in px_df
appt_df[~appt_df['pxid'].isin(px_df['pxid'])]

,pxid,clinicid,doctorid,apptid,status,TimeQueued,QueueDate,StartTime,EndTime,type,Virtual
0,EF196B348A49FB32DABC9834DC4FAAD9,ADF7EE2DCF142B0E11888E72B43FCB75,BB04AF0F7ECAEE4AAE62035497DA1387,C1CC0949B93D00A559F7A0BD38361E80,Complete,2018-04-11 01:59:58,2018-04-10 16:00:00,NaN,NaN,Consultation,NaN
1,EAE3C87D0B33351272F2E9B9B1B56217,1E0F65EB20ACBFB27EE05DDC000B50EC,82AA4B0AF34C2313A562076992E50AA3,6585A31C60A1886FBA1433C50012B504,Queued,2018-04-10 10:34:16,2018-04-08 16:00:00,2018-04-09 10:33:00,2018-04-12 05:29:57,Inpatient,NaN
2,7C5C93809D626CC702D08F33985B2B58,1E0F65EB20ACBFB27EE05DDC000B50EC,82AA4B0AF34C2313A562076992E50AA3,7250DCFF615E6580295C7E6ED4322371,Queued,2018-04-03 15:26:19,2018-03-30 16:00:00,2018-03-31 15:25:00,2018-04-05 15:51:47,Inpatient,NaN
3,C300C2B9E0E5D4C46E8093BCDBFA05CA,98C39996BF1543E974747A2549B3107C,AD61AB143223EFBC24C7D2583BE69251,F5BBDCC08E39332F0AC27BB95CF1396A,Queued,2015-11-24 08:01:13.920000000,NaN,NaN,NaN,Consultation,NaN
4,B3DBE7F9E4DC33CBC5660E0A923CF8E8,77EE3BC58CE560B86C2B59363281E914,AD61AB143223EFBC24C7D2583BE69251,55783FB42A02DABC3B2ED239B924DC87,Queued,2015-11-24 08:01:00.420000000,NaN,NaN,NaN,Consultation,NaN
...,...,...,...,...,...,...,...,...,...,...,...
9752927,2583E761CF4CAB4813AAEAFDAA883CC6,CCFC2D538DDFF519D893A6B966A1C4F1,B706835DE79A2B4E80506F582AF3676A,215A26E2E5B831D87C41A5C1CC382B1C,Queued,2023-11-20 00:34:25.337000000,2023-11-22 16:00:00,NaN,NaN,Consultation,False
9752928,F51E6BF96EA5028AE5F5C01EBF08E3BD,CCFC2D538DDFF519D893A6B966A1C4F1,B706835DE79A2B4E80506F582AF3676A,E9EB60E3DA311FAE308A2DB53B6CCBAC,Queued,2023-12-05 07:51:25.443000000,2023-12-04 16:00:00,NaN,NaN,Consultation,False
9752929,84E3EB4A060096C3702D33F5A52E8B43,CCFC2D538DDFF519D893A6B966A1C4F1,B706835DE79A2B4E80506F582AF3676A,EFE2DDFD855E2B4E1C67956CE1CE8A6E,Queued,2024-01-04 06:11:06.437000000,2024-01-03 16:00:00,2024-01-04 08:00:00,2024-01-04 08:15:00,Consultation,False
9752930,2B9F701BED6F68800637ADB7EF4CACE2,CCFC2D538DDFF519D893A6B966A1C4F1,B706835DE79A2B4E80506F582AF3676A,434410208F17F50143E1CE66E4CEF23F,Queued,2024-01-13 06:12:54.737000000,2024-01-12 16:00:00,2024-01-13 08:00:00,2024-01-13 08:15:00,Consultation,False
9752931,2ED01D09EF929AE3CA7564A2CB09DC2C,40F4775D64533EE66E3E20AE64228661,B706835DE79A2B4E80506F582AF3676A,62D462EFFD157E70C4301E555962D44B,Queued,2024-01-04 00:45:05.063000000,2024-01-03 16:00:00,2024-01-04 02:30:00,2024-01-04 02:45:00,Consultation,False

In [16]:
# drop all rows in appt_df where pxid is not in px_df
print(appt_df.shape)
appt_df = appt_df[appt_df['pxid'].isin(px_df['pxid'])]
print(appt_df.shape)

(9752932, 11)
(320138, 11)

In [17]:
# check if all clinicid are unique
clinics_df['clinicid'].is_unique

True

In [18]:
# check if all doctorid are unique
doctors_df['doctorid'].is_unique

True

In [19]:
# check if appt_df has any doctorid that is not in doctors_df
appt_df[~appt_df['doctorid'].isin(doctors_df['doctorid'])]

Empty DataFrame
Columns: [pxid, clinicid, doctorid, apptid, status, TimeQueued, QueueDate, StartTime, EndTime, type, Virtual]
Index: []

In [20]:
# check if appt_df has any clinicid that is not in clinics_df
appt_df[~appt_df['clinicid'].isin(clinics_df['clinicid'])]

Empty DataFrame
Columns: [pxid, clinicid, doctorid, apptid, status, TimeQueued, QueueDate, StartTime, EndTime, type, Virtual]
Index: []

In [21]:
# limit appt_df to the first 100k rows
appt_df.shape

(320138, 11)

In [22]:
appt_df.isna().sum()

pxid               0
clinicid           0
doctorid           0
apptid             0
status             0
TimeQueued         0
QueueDate          0
StartTime     116530
EndTime       259986
type               0
Virtual       190134
dtype: int64